@model CatalogPagingFilteringModel.AreaFilterModel
@using Nop.Web.Models.Catalog;
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}
@helper FormatAreaText(CatalogPagingFilteringModel.AreaFilterItem filterItem)
{
    string rangeText = "";
    rangeText = string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.Area);
    <text>@Html.Raw(rangeText)</text>
}
@if (Model.Enabled)
{
    <div class="product-filter price-range-filter">
        <div class="filter-title">
            <strong>@T("Filtering.AreaFilter")</strong>
        </div>
        <div class="filter-content">
            @if (selectedItem == null)
            {
                <div class="available-items">
                    <ul class="group price-range-group area-filter">
                        @foreach (var item in Model.Items)
                        {
                            <li><a href="@item.FilterUrl">@FormatAreaText(item)</a></li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="filtered-items">
                    <span class="item">@FormatAreaText(selectedItem)</span>
                </div>
                <div class="remove-filter">
                    <a href="@Model.RemoveFilterUrl">@T("Filtering.AreaFilter.Remove")</a>
                </div>
            }
        </div>

    </div>
}